                * {
                    padding: 0;
                    box-sizing: border-box;
                    margin: 0;
                    color: black;
                }
                
                #hum {
                    width: 50px;
                    height: 50px;
                    background-color: #fff;
                    background-image: url(images/hum.png);
                    border-radius: 5px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 40px;
                    cursor: pointer;
                }
                
                #hum:hover {
                    background-size: 45px;
                    transition: all .6s ease;
                }
                
                .top {
                    width: 100%;
                    background: #333333;
                    height: 50px;
                }
                
                .x-btn {
                    width: 35px;
                    cursor: pointer;
                    position: absolute;
                    left: 200px;
                    top: 80px;
                    background-color: #fff;
                    border-radius: 50%;
                    visibility: hidden;
                }
                
                .x-btn:hover {
                    transform: rotate(100deg);
                    transition: 0.3s;
                }
                
                #side-bar {
                    height: 100vh;
                }
                
                #side-bar ul {
                    display: none;
                    height: calc(100vh - 60px);
                    border-radius: 0 3px 0 3px;
                    width: 300px;
                    background-color: rgb(22, 22, 22);
                    padding-top: 55px;
                }
                
                #side-bar ul li {
                    list-style: none;
                    text-align: center;
                    align-items: center;
                    padding: 30px;
                    margin: 0 5px;
                }
                
                #side-bar ul :hover {
                    background-color: rgb(133, 133, 133);
                    transition: 2s;
                    cursor: pointer;
                    border-radius: 10px;
                }
                
                #side-bar ul li a {
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    display: block;
                    color: #fff;
                    text-decoration: none;
                }